body{
    background: pink;
    font-family: sans-serif;
}

.assignment {
    display:flex;
    padding: 10px;
    margin: 10px;
    background:lightgoldenrodyellow;
}

.assignment img {
    width: 300px;
    padding:10px;
}

h1{
    color: darkslategray;
    text-align:center;
}